---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';
import {Icon} from 'astro-icon'
import {
  Button,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
const seo = {
	title: 'About | Popstar Photo Booths',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Popstar Photo Booths</h1>
			<p>
				Popstar Photo Booths was founded by husband and wife duo, Danny and Danea Sullivan. With Danny's experience as a professional baseball player and Danea's history as a Disney World dancer, they both understand the intricate details and dedication necessary for success. Their diverse experiences are the backbone of their commitment to taking your event to a higher level. Trust them to bring a unique touch to your occasion with their balanced blend of passion and professionalism. For an event that truly stands out, contact Popstar Photo Booths today!
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/about.jpg"
        alt="About us"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-2)">
    <h2>Ready to get started?</h2>
    <p>Let's Go</p>
    <Button href="https://popstar-photo-booths.checkcherry.com/reservation/" customIcon>
    Get Prices
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment>
    </Button>
</CtaCardSection>
</Layout>
