---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  StickyTextImageSection,
  CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import HowToBook from '../../components/sections/HowToBook.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and receive $200 in upgrades!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
  <iframe src="https://widget.pbbackdrops.com/embed/v1/9848ed0b-7507-4ac9-85b9-549afd32196c?choice=1&name=1&date=1&search=1" style="width:100%;height:700px;border:none;"></iframe><script async src="https://widget.pbbackdrops.com/app/widget.js"></script>

  <div class="centered">
    <h2>Perfect For All Occasions</h2>
  </div>

  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/sofar.jpg" alt="Events" loading="lazy" />
      <h3>Events</h3>
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/tts.jpg" alt="Weddings" loading="lazy" />
      <h3>Weddings</h3>
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/urban.jpg" alt="Birthdays" loading="lazy" />
      <h3>Birthdays</h3>
		</div>
	</PhotoGridSection>

  <HowToBook>
    <div slot="text-container">
      <h2>How to Book</h2>
      <h3>1. Check Your Event Date</h3>
			<p>Submit a short form check if your date is available. <br>These booths go quickly! So do this first.</p>
      <Button href="/date" slot="column-1-cta">Check Your Date</Button><br>
      <h3>2. Pay the $99 Deposit</h3>
			<p>
				If your date is available, hooray! Now it's time to secure it with a $99 deposit. <br>This is the only way we guarantee service.
			</p>
      <Button slot="action-item" href="https://book.stripe.com/28o9BK9ybbWy7K06oo">Pay Deposit</Button><br>
      <h3>3. Finalize the Details</h3>
      <p>We'll reach out same day to finalize any upgrades and all event details. <br>We'll then send a final invoice that is due one week before your event.</p>
      <Button href="/contact" slot="column-1-cta">Contact Us</Button><br>
      
		</div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/book.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </HowToBook>
  <CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-2)">
    <h2>Ready to get started?</h2>
    <p>Check Your Date. Pay Deposit. Rock Out.</p>
    <Button href="/date" customIcon>
    Check Date
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment>
    </Button>
</CtaCardSection>

</Layout>

<style>
.centered {
  text-align: center;
}
img {
  border-radius: var(--theme-shape-radius);
}
</style>