---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and support a small business!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
	<HomeHeroSection />
	<CustomerQuoteSection
		quoteText="So much fun to have this easy to use photo booth at our family reunion! We have tons of memories to share with these photos!"
		customerName="Laura Hendrix McKillop"
	/>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Popstar Booth</h2>
      <h3>$150 per hour</h3>
      <p>
        <ul>
          <li>Photos, videos, gifs, boomerangs</li>
          <li>Instagram style filters</li>
          <li>Text, email, air drop and QR code sharing</li>
          <li>Real time live gallery of all your event photos</li>
          <li>Choice of in stock backdrop</li>
      </ul>
      </p>
      <h3>Upgrades</h3>
      <p>
        <ul>
          <li>Premium Backdrops $200+</li>
          <li>Custom Props $100+</li>
          <li>Custom photo templates $100+</li>
          <li>Custom Tap to Start screen $100+</li>
          <li>Custom text and email branding $200+</li>
      </ul>
      </p>
      <Button href="https://popstar-photo-booths.checkcherry.com/reservation" slot="column-1-cta">Book Now</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/popstar-booth.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <CustomerQuoteSection
  quoteText="Dan and his team are amazing at ensuring your guests have fun creating memories with his various photobooths! You will not be disappointed!"
  customerName="Micah Brown - Amore Planning Co."
/>
  <h3 class="centered">Gallery</h3>
  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/image4.jpg" alt="Form" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/image3.jpg" alt="Select Date" />
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/image5.jpg" alt="Add Ons" />
		</div>
	</PhotoGridSection>
  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/image6.jpg" alt="Back Drops" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/image7.jpg" alt="Venue" />
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/image8.jpg" alt="Review" />
		</div>
	</PhotoGridSection>
  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/image9.jpg" alt="Back Drops" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/image10.jpg" alt="Venue" />
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/image11.jpg" alt="Review" />
		</div>
	</PhotoGridSection>
  <CustomerQuoteSection
  quoteText="Great quality pictures to capture amazing memories! 5 stars for sure!!"
  customerName="Danielle Vitti"
/>
<div class="centered">
  <h3>Perfect For All Occasions</h3>
</div>

<PhotoGridSection>
  <div slot="column-1-body">
    <img src="/assets/images/home/sofar.jpg" alt="Events" loading="lazy" />
    <h4>Events</h4>
  </div>
  <div slot="column-2-body">
    <img src="/assets/images/home/tap-to-start.jpg" alt="Weddings" loading="lazy" />
    <h4>Weddings</h4>
  </div>
  <div slot="column-3-body">
    <img src="/assets/images/home/birthday.jpg" alt="Birthdays" loading="lazy" />
    <h4>Birthdays</h4>
  </div>
</PhotoGridSection>
  <CtaCardSection>
  <h2>Ready to get started?</h2>
  <p>Let's do it!</p>
  <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" customIcon>
    Book Now
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</CtaCardSection>

</Layout>

<style>
.centered {
  text-align: center;
}
img {
  border-radius: var(--theme-shape-radius);
}
</style>