---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  StickyTextImageSection,
  CtaCardSection,
  ThreeColumnTextSection
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import HowToBook from '../../components/sections/HowToBook.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and receive $200 in upgrades!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
	<HomeHeroSection />
	<CustomerQuoteSection
		quoteText="So much fun to have this easy to use photo booth at our family reunion! We have tons of memories to share with these photos!"
		customerName="Laura Hendrix McKillop"
	/>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Popstar Booth</h2>
      <h3>Included</h3>
      <p>
        <ul>
          <li>Unlimited photos, gifs, boomerangs and videos</li>
          <li>Instagram style filters</li>
          <li>Instant email, text, QR code and bluetooth photo delivery</li>
          <li>Real time live gallery of all your event photos</li>
      </ul>
      </p>
      <h3>Add Ons</h3>
      <p>
        <ul>
          <li>Custom tap to start screen</li>
          <li>Custom props</li>
          <li>Custom photo template</li>
          <li>Premium backdrops</li>
          <li>Custom text and email branding</li>
          <li>Customer analytics</li>
        </ul>
      </p>
      <Button href="https://popstar-photo-booths.checkcherry.com/reservation/user_info" slot="column-1-cta">Explore Features</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/landing-sticky.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <div class="centered">
    <h2>Perfect For All Occasions</h2>
  </div>

  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/sofar.jpg" alt="Events" loading="lazy" />
      <h3>Events</h3>
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/tts.jpg" alt="Weddings" loading="lazy" />
      <h3>Weddings</h3>
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/urban.jpg" alt="Birthdays" loading="lazy" />
      <h3>Birthdays</h3>
		</div>
	</PhotoGridSection>

  <HowToBook>
    <div slot="text-container">
      <h2>How to Book</h2>
      <h3>1. Check Your Event Date</h3>
			<p>Submit a short form check if your date is available. <br>These booths go quickly! So do this first.</p>
      <Button href="https://popstar-photo-booths.checkcherry.com/availability_calendar?props=%7B%22showBookNowButton%22%3Atrue%2C%22bookNowButtonText%22%3A%22Book%20Now%22%2C%22showCustomBookingUrl%22%3Afalse%2C%22customBookingUrl%22%3A%22%22%2C%22availableMessage%22%3A%22Congratulations%2C%20we%20are%20currently%20available%20for%20this%20day%20and%20package.%20%20Just%20click%20%26%2339%3BBook%20Now%26%2339%3B%20to%20reserve%20your%20date%20now.%22%2C%22unavailableMessage%22%3A%22Sorry%2C%20but%20we%20are%20not%20able%20to%20take%20automated%20bookings%20for%20this%20date%20or%20package.%20%20Please%20contact%20us%20directly%20to%20check%20for%20available%20options.%22%2C%22theme%22%3A%22normal%22%7D" slot="column-1-cta">Check Your Date</Button><br>
      <h3>2. Build Your Package</h3>
			<p>
				If your date is available, hooray! Now it's time to build your package.
			</p>
      <Button slot="action-item" href="https://popstar-photo-booths.checkcherry.com/reservation/user_info">See Packages</Button><br>
      <h3>3. Pay $99 Deposit</h3>
      <p>Reserve your date with a deposit.</p>
      <Button href="https://popstar-photo-booths.checkcherry.com/reservation/user_info" slot="column-1-cta">Let's Go</Button><br>
      
		</div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/book.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </HowToBook>
  <CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-2)">
    <h2>Ready to get started?</h2>
    <p>Check Your Date!</p>
    <Button href="https://popstar-photo-booths.checkcherry.com/availability_calendar?props=%7B%22showBookNowButton%22%3Atrue%2C%22bookNowButtonText%22%3A%22Book%20Now%22%2C%22showCustomBookingUrl%22%3Afalse%2C%22customBookingUrl%22%3A%22%22%2C%22availableMessage%22%3A%22Congratulations%2C%20we%20are%20currently%20available%20for%20this%20day%20and%20package.%20%20Just%20click%20%26%2339%3BBook%20Now%26%2339%3B%20to%20reserve%20your%20date%20now.%22%2C%22unavailableMessage%22%3A%22Sorry%2C%20but%20we%20are%20not%20able%20to%20take%20automated%20bookings%20for%20this%20date%20or%20package.%20%20Please%20contact%20us%20directly%20to%20check%20for%20available%20options.%22%2C%22theme%22%3A%22normal%22%7D" customIcon>
    Check Date
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment>
    </Button>
</CtaCardSection>

</Layout>

<style>
.centered {
  text-align: center;
}
img {
  border-radius: var(--theme-shape-radius);
}

.load-more a{
  display: none;
}
</style>