---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  Container,
  StickyTextImageSection,
  CtaCardSection,
  FeatureCard,
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<!-- <AnnouncementBar text="Did you love working with us? Leave a Google review and support a small business!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/> -->
<Layout seo={seo} >
	<HomeHeroSection />
	<CustomerQuoteSection
		quoteText="So much fun to have this easy to use photo booth at our family reunion! We have tons of memories to share with these photos!"
		customerName="Laura Hendrix McKillop"
	/>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Popstar Booth</h2>
      <h3>$500 - 4 hour rental</h3>
      <p>
        <ul>
          <li>Photos, videos, gifs, boomerangs</li>
          <li>Instagram style filters</li>
          <li>Text, email, air drop and QR code sharing</li>
          <li>Real time live gallery of all your event photos</li>
      </ul>
      </p>
      <h3>Perfect For</h3>
      <p>
        <ul>
          <li>Concerts</li>
          <li>Birthday Parties</li>
          <li>Holiday Parties</li>
          <li>Brand Launches</li>
          <li>Weddings</li>
      </ul>
	  <h3>Drop Off Service</h3>
      <p>
        <ul>
          <li>We set up the booth 30 min before the party starts.</li>
          <li>We break it down when it's done.</li>
          <li>You save money.</li>
          <li>We have discovered that people have more fun with drop off booths.</li>
      </ul>
      <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" slot="column-1-cta">Reserve Now</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/popstar-booth.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <h3 class="centered">Gallery</h3>
  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/image1.jpg" alt="Form" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/image2.jpg" alt="Select Date" />
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/image3.jpg" alt="Add Ons" />
		</div>
	</PhotoGridSection>
  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/image4.jpg" alt="Back Drops" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/image5.jpg" alt="Venue" />
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/image6.jpg" alt="Review" />
		</div>
	</PhotoGridSection>
	<PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/image7.jpg" alt="Back Drops" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/image8.jpg" alt="Venue" />
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/image9.jpg" alt="Review" />
		</div>
	</PhotoGridSection>
	<CustomerQuoteSection
  quoteText="Dan and his team are amazing at ensuring your guests have fun creating memories with his various photobooths! You will not be disappointed!"
  customerName="Micah Brown - Amore Planning Co."
/>
<!-- <Container>
	<section class="feature-card__section" style="text-align: center";>
		<h2>Choose Your Experience</h2>
		<p>
			Learn about our curated photo booth experiences.
		</p>
		<div class="feature-card__grid">
			<FeatureCard href="/landing-pages/landing-1" title="Party" imgSrc="/assets/images/home/screenshots/landing-1">
				<Button href="https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=84825" customIcon>
					Reserve Now
					<Fragment slot="icon">
					  <Icon name="ic:baseline-chevron-right" />
					</Fragment>
				  </Button>
			</FeatureCard>
			<FeatureCard href="/landing-pages/landing-2" title="Glam" imgSrc="/assets/images/home/screenshots/landing-2">
			</FeatureCard>
			<FeatureCard href="/landing-pages/landing-3" title="Green Room" imgSrc="/assets/images/home/screenshots/landing-3">
			</FeatureCard>
			<FeatureCard href="/landing-pages/landing-4" title="Hollywood" imgSrc="/assets/images/home/screenshots/landing-4">
			</FeatureCard>
		</div>
	</section>
</Container> -->
<!-- <CustomerQuoteSection
quoteText="Great quality pictures to capture amazing memories! 5 stars for sure!!"
customerName="Danielle Vitti"
/> -->
  <CtaCardSection>
  <h2>Ready to get started?</h2>
  <p>Let's do it!</p>
  <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" customIcon>
    Reserve Now
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</CtaCardSection>

</Layout>

<style>
.centered {
  text-align: center;
}
img {
  border-radius: var(--theme-shape-radius);
}
.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>