---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  StickyTextImageSection,
  CtaCardSection,
  Container
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import CustomerQuoteSection from '../../components/sections/CustomerQuoteSection.astro';
import PhotoBoothPackagesSection from '../../components/sections/PhotoBoothPackagesSection.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and support a small business!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
	<HomeHeroSection />
	<CustomerQuoteSection
  quoteText="Dan and his team are amazing at ensuring your guests have fun creating memories with his various photobooths! You will not be disappointed!"
  customerName="Micah Brown - Amore Planning Co."
  imageUrl="/assets/images/home/reviews.png"
/>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Popstar Booth</h2>
      <p>
        <ul>
          <li>Photos, videos, gifs, boomerangs</li>
          <li>Instagram style filters</li>
          <li>Text, email, air drop and QR code sharing</li>
          <li>Real time live gallery of all your event photos</li>
      </ul>
      </p>
      <h3>Perfect For</h3>
      <p>
        <ul>
          <li>Concerts</li>
          <li>Birthday Parties</li>
          <li>Holiday Parties</li>
          <li>Brand Launches</li>
          <li>Weddings</li>
      </ul>
      </p>
      <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" slot="column-1-cta">Get Pricing</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/popstar-booth.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <div class="centered">
    <h2>Photo Booth Packages</h2>
    <p>Choose your experience</p>
  </div>
  <PhotoBoothPackagesSection>
    <div slot="column-1-body">
      <img src="/assets/images/home/popstar.jpg" alt="Popstar Booth" />
      <h4>Popstar Booth</h4>
      <p>Your classic photo booth experience with a custom photo overlay, fun filters and props. Perfect for all events.</p>
    </div>
    <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" slot="column-1-cta">Get Pricing</Button>
    <div slot="column-2-body">
      <img src="/assets/images/home/glam1.jpg" alt="Glam Booth" />
      <h4>Glam Booth</h4>
      <p>This is our classy black & white photo booth experience. It's enhanced by our glam skin smooth filter.</p>
    </div>
    <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" slot="column-2-cta">Get Pricing</Button>
    <div slot="column-3-body">
      <img src="/assets/images/home/green.jpg" alt="Green Screen" />
      <h4>The Green Room</h4>
      <p>This is our magic green screen booth. You will have five green screen backgrounds to choose from. Really fun for branding, great for all events.</p>
    </div>
    <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" slot="column-3-cta">Get Pricing</Button>
  </PhotoBoothPackagesSection>
  <div class="google-review-section">
  <Container wide>
    <h3 style="text-align: center;">Customer Love</h3>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-8164c114-40b6-4539-90d4-0368aa3a51ee" data-elfsight-app-lazy></div>
  </Container>
  </div>
  <div class="partners">
    <div class="centered"><h3>Our Partners</h3></div>
    <div class="trusted-by-section">
      <img src="/assets/images/home/bccc.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/traine.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/cam.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/wfh.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/loop.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/dbc.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/sofar.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/recity.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/home/foundation.png" alt="Company Logo" class="trusted-logo" />
    </div>
  </div>
  <div class="templates">
    <h3 class="centered">Custom Templates</h3>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/events/wines.jpeg" alt="Custom Template" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/events/high.jpeg" alt="Custom Template" />
      </div>
      <div slot="column-3-body">
        <img src="/assets/images/events/give.jpeg" alt="Custom Template" />
      </div>
    </PhotoGridSection>
  </div>
  <div class="backdrops">
    <h3 class="centered">Custom Backdrops</h3>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/backdrops/bd-1.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/backdrops/bd-2.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-3-body">
        <img src="/assets/images/backdrops/bd-3.jpeg" alt="Backdrop" />
      </div>
    </PhotoGridSection>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/backdrops/bd-4.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/backdrops/bd-5.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-3-body">
        <img src="/assets/images/backdrops/bd-6.jpeg" alt="Backdrop" />
      </div>
    </PhotoGridSection>
  </div>
  <CustomerQuoteSection
  quoteText="Danny is a delight to work with and the pictures are wonderful! Will definitely use him again!"
  customerName="Christine Worsham - Wines for Humanity"
  imageUrl="/assets/images/home/reviews.png"
/>
<HeroSection>
  <div slot="text-container">
    <h1>Meet the Owners</h1>
    <p>
      Popstar Photo Booths was founded by husband and wife duo, Danny and Danea Sullivan. With Danny's experience as a professional baseball player and Danea's history as a Disney World dancer, they both understand the intricate details and dedication necessary for success. Their diverse experiences are the backbone of their commitment to taking your event to a higher level. Trust them to bring a unique touch to your occasion with their balanced blend of passion and professionalism. For an event that truly stands out, contact Popstar Photo Booths today!
    </p>
  </div>
  <picture slot="image-container">
    <img
      src="/assets/images/home/about.jpg"
      alt="About us"
      id="home-hero-image"
    />
  </picture>
</HeroSection>
  <CtaCardSection>
  <h2>Ready to get started?</h2>
  <p>Let's do it!</p>
  <Button href="https://popstar-photo-booths.checkcherry.com/reservation/event_type" customIcon>
    Get Quote
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</CtaCardSection>

</Layout>

<style>

.trusted-by-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px; 
}

.trusted-logo {
  max-width: 100px; /* Adjust the size as needed */
  margin: 0 10px; /* Provides horizontal spacing */
}


.partners {
  margin: calc(var(--section-margin) * 2) auto;
  padding: 3rem;
  background-color: var(--theme-surface-1);
  text-align: center;
}

.centered {
  text-align: center;
}


.partners img {
  border-radius: var(--theme-shape-radius);
}

.backdrops {
  margin-top: 2rem;
}

.google-review-section{
  margin-top: 2rem;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .trusted-by-section {
    flex-direction: column;
    align-items: center;
  }

  .trusted-logo {
    max-width: 80px; /* Smaller size for mobile */
    margin: 10px 0; /* Adjust margin for vertical layout */
  }
}
</style>
