---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and receive $200 in upgrades!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
	<HomeHeroSection />
	<CustomerQuoteSection
		quoteText="So much fun to have this easy to use photo booth at our family reunion! We have tons of memories to share with these photos!"
		customerName="Laura Hendrix McKillop"
	/>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>How Does It Work?</h2>
      <h3>Included</h3>
      <p>
        <ul>
		      <li>We drop off and pick up the booth anytime between 11am to 11pm</li>
          <li>Unlimited digital photos</li>
          <li>Instagram style filters</li>
          <li>Instant email photo delivery</li>
          <li>Real time live gallery of all your event photos</li>
      </ul>
      </p>
      <h3>Add Ons</h3>
      <p>
        <ul>
          <li>Text, bluetooth and QR code photo delivery $25</li>
          <li>Gifs, boomerangs and videos $50</li>
          <li>Customizable tap to start screen $100</li>
          <li>Custom props $100</li>
          <li>Custom photo template $100</li>
		      <li>Premium backdrop $200</li>
          <li>Custom text and email branding $200</li>
      </ul>
      </p>
      <Button href="/date" slot="column-1-cta">Check Your Date</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/landing-sticky.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection>
    <h2>Perfect For All Ocassions</h2>
  </CtaCardSection>

  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/sofar.jpg" alt="Events" loading="lazy" />
      <h3>Events</h3>
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/tts.jpg" alt="Weddings" loading="lazy" />
      <h3>Weddings</h3>
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/urban.jpg" alt="Birthdays" loading="lazy" />
      <h3>Birthdays</h3>
		</div>
	</PhotoGridSection>

  <CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-2)">
    <h2>How to Book</h2>
  </CtaCardSection>
  <PhotoGridSection>
		<div slot="column-1-body">
			<h2>1. Check Date</h2>
			<p>
				Submit this short form or message us to check if your date is available. These booths go quickly! So do this first.
			</p>
		</div>
		<Button href="/date" slot="column-1-cta">Check Date</Button>
		<div slot="column-2-body">
			<h2>2. Pay Deposit</h2>
			<p>
				If your date is available, hooray! Now it's time to secure it with a $99 deposit. This is the only way we guarantee service.
			</p>
		</div>
		<Button href="https://book.stripe.com/28o9BK9ybbWy7K06oo" slot="column-2-cta">Pay Deposit</Button>
		<div slot="column-3-body">
			<h2>3. Finalize</h2>
			<p>
				We'll reach out same day to finalize any upgrades and all event details. We'll then send a final invoice that is due one week before your event.
			</p>
		</div>
		<Button href="/date" slot="column-3-cta">Let's Go!</Button>
	</PhotoGridSection>

</Layout>