---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import CustomerQuoteSection from '../../components/sections/CustomerQuoteSection.astro';
import GoogleReviewSection from '../../components/sections/GoogleReviewSection.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and support a small business!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
	<HomeHeroSection />
	<CustomerQuoteSection
  quoteText="Dan and his team are amazing at ensuring your guests have fun creating memories with his various photobooths! You will not be disappointed!"
  customerName="Micah Brown - Amore Planning Co."
  imageUrl="/assets/images/home/reviews.png"
/>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Popstar Booth</h2>
      <p>
        <ul>
          <li>Photos, videos, gifs, boomerangs</li>
          <li>Instagram style filters</li>
          <li>Text, email, air drop and QR code sharing</li>
          <li>Real time live gallery of all your event photos</li>
      </ul>
      </p>
      <h3>Perfect For</h3>
      <p>
        <ul>
          <li>Concerts</li>
          <li>Birthday Parties</li>
          <li>Holiday Parties</li>
          <li>Brand Launches</li>
          <li>Weddings</li>
      </ul>
      </p>
      <Button href="/contact" slot="column-1-cta">Check Availability</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/popstar-booth.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <GoogleReviewSection/>
<div class="partners">
  <div class="centered"><h3>Our Partners</h3></div>
  <div class="trusted-by-section">
    <img src="/assets/images/home/bccc.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/traine.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/cam.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/wfh.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/loop.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/dbc.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/sofar.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/recity.png" alt="Company Logo" class="trusted-logo" />
    <img src="/assets/images/home/foundation.png" alt="Company Logo" class="trusted-logo" />
  </div>
</div>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Rockstar Booth</h2>
      <p>
        <ul>
          <li>Professional attendant</li>
          <li>Professional quality lighting</li>
          <li>Unlimited professional photos</li>
          <li>Glam Mode option</li>
          <li>Unlimited prints</li>
		      <li>Photos, videos, gifs, boomerangs</li>
          <li>Instagram style filters</li>
          <li>Text, email, air drop and QR code sharing</li>
          <li>Real time live gallery of all your event photos</li>
		      <li>Custom photo templates</li>
		       <li>Custom tap to start screen</li>
      </ul>
      </p>
      <h3>Pefect For</h3>
      <p>
        <ul>
		  <li>Upscale Weddings</li>
		  <li>Red Carpet Events</li>
          <li>High Budget Parties</li>
      </ul>
      </p>
      <Button href="/contact" slot="column-1-cta">Check Availability</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/rockstar-booth.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <h3 class="centered">Gallery</h3>
  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/rock-1.jpeg" alt="Form" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/rock-2.jpeg" alt="Select Date" />
    </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/rock-3.jpeg" alt="Add Ons" />
		</div>
	</PhotoGridSection>
  <PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/rock-4.jpeg" alt="Back Drops" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/rock-5.jpeg" alt="Venue" />
        </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/rock-6.jpeg" alt="Review" />
		</div>
	</PhotoGridSection>
	<PhotoGridSection>
		<div slot="column-1-body">
		  <img src="/assets/images/home/rock-7.jpeg" alt="Back Drops" />
		</div>
		<div slot="column-2-body">
		  <img src="/assets/images/home/rock-8.jpeg" alt="Venue" />
        </div>
		<div slot="column-3-body">
		  <img src="/assets/images/home/rock-9.jpeg" alt="Review" />
		</div>
	</PhotoGridSection>
  <CustomerQuoteSection
  quoteText="Danny is a delight to work with and the pictures are wonderful! Will definitely use him again!"
  customerName="Christine Worsham - Wines for Humanity"
  imageUrl="/assets/images/home/reviews.png"
/>
  <CtaCardSection>
  <h2>Ready to get started?</h2>
  <p>Let's do it!</p>
  <Button href="/contact" customIcon>
    Get Quote
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</CtaCardSection>

</Layout>

<style>

.trusted-by-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px; 
}

.trusted-logo {
  max-width: 100px; /* Adjust the size as needed */
  margin: 0 10px; /* Provides horizontal spacing */
}


.partners {
  margin: calc(var(--section-margin) * 2) auto;
  padding: 3rem;
  background-color: var(--theme-surface-1);
  text-align: center;
}

.centered {
  text-align: center;
}

img {
  border-radius: var(--theme-shape-radius);
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .trusted-by-section {
    flex-direction: column;
    align-items: center;
  }

  .trusted-logo {
    max-width: 80px; /* Smaller size for mobile */
    margin: 10px 0; /* Adjust margin for vertical layout */
  }
}
</style>
