---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import Branding from '../components/sections/heros/Branding.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and receive $200 in upgrades!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
<script src="https://popstar-photo-booths.checkcherry.com/api/checkcherry_widgets" type="text/javascript" charset="utf-8"></script>
<div class="checkcherry__widget__design-template-gallery" data-props='{"apiKey":"TCN-R4JQ-W4A","host":"https://popstar-photo-booths.checkcherry.com","showBookNowButton":false,"bookNowButtonText":"Book Now","categoryId":null,"showTagViewer":true}'></div>
	
  
  <CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-2)">
    <h2>Ready to get started?</h2>
    <p>Check Your Date!</p>
    <Button href="https://popstar-photo-booths.checkcherry.com/availability_calendar?props=%7B%22showBookNowButton%22%3Atrue%2C%22bookNowButtonText%22%3A%22Book%20Now%22%2C%22showCustomBookingUrl%22%3Afalse%2C%22customBookingUrl%22%3A%22%22%2C%22availableMessage%22%3A%22Congratulations%2C%20we%20are%20currently%20available%20for%20this%20day%20and%20package.%20%20Just%20click%20%26%2339%3BBook%20Now%26%2339%3B%20to%20reserve%20your%20date%20now.%22%2C%22unavailableMessage%22%3A%22Sorry%2C%20but%20we%20are%20not%20able%20to%20take%20automated%20bookings%20for%20this%20date%20or%20package.%20%20Please%20contact%20us%20directly%20to%20check%20for%20available%20options.%22%2C%22theme%22%3A%22normal%22%7D" customIcon>
    Check Date
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment>
    </Button>
</CtaCardSection>

</Layout>

<style>

.centered {
  text-align: center;
}
img {
  border-radius: var(--theme-shape-radius);
}

.load-more a{
  display: none;
}

.checkcherry__widget__design-template-gallery{
  background-color: white;
}

</style>