---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import Branding from '../components/sections/heros/Branding.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<AnnouncementBar text="Did you love working with us? Leave a Google review and receive $200 in upgrades!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/>
<Layout seo={seo} >
	<Branding />
	
  
  <CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-2)">
    <h2>Ready to get started?</h2>
    <p>Get a Quote!</p>
    <Button href="https://popstar-photo-booths.checkcherry.com/reservation/user_info" customIcon>
    Get Quote
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment>
    </Button>
</CtaCardSection>

</Layout>

<style>
.centered {
  text-align: center;
}
img {
  border-radius: var(--theme-shape-radius);
}

.load-more a{
  display: none;
}
</style>