---
import Container from '../core/Container.astro';

---

<section class="google-reviews">
  <Container wide>
    <h3 style="text-align: center;">Customer Love</h3>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-8164c114-40b6-4539-90d4-0368aa3a51ee" data-elfsight-app-lazy></div>
  </Container>
</section>

<style>
.google-reviews{
  margin-top: 2rem;
}
</style>