---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	Button,
	TextCardSection,
	BlogPostsList,
	CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import {Icon} from 'astro-icon'
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			authors: frontmatter.authors,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Blog | Popstar Photo Booths',
	description: 'Photo booth rental in Raleigh, NC',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Popstar Blog</h1>
			<p>
				Want to be the first to hear about fun events in Raleigh? Join our newsletter!
			</p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>Recent Posts</h2>
			<BlogPostsList posts={posts} />
		</section>
	</Container>
	<CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-2)">
		<h2>Ready to get started?</h2>
		<p>Check Your Date!</p>
		<Button href="https://popstar-photo-booths.checkcherry.com/availability_calendar?props=%7B%22showBookNowButton%22%3Atrue%2C%22bookNowButtonText%22%3A%22Book%20Now%22%2C%22showCustomBookingUrl%22%3Afalse%2C%22customBookingUrl%22%3A%22%22%2C%22availableMessage%22%3A%22Congratulations%2C%20we%20are%20currently%20available%20for%20this%20day%20and%20package.%20%20Just%20click%20%26%2339%3BBook%20Now%26%2339%3B%20to%20reserve%20your%20date%20now.%22%2C%22unavailableMessage%22%3A%22Sorry%2C%20but%20we%20are%20not%20able%20to%20take%20automated%20bookings%20for%20this%20date%20or%20package.%20%20Please%20contact%20us%20directly%20to%20check%20for%20available%20options.%22%2C%22theme%22%3A%22normal%22%7D" customIcon>
		Check Date
		<Fragment slot="icon">
		  <Icon name="ic:baseline-chevron-right"/>
		</Fragment>
		</Button>
	</CtaCardSection>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
