---
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
  "Refferal"
]

---

<form name="Contact Form" method="POST" action="/thank-you" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="Dua Lipa" required />
  <FormInput type="email" label="Email" name="Email" placeholder="dua@letsrock.com" required/>
  <FormSelect label="How Did You Hear About Us?" options={selectOptions} required />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." required/>
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>