---

import { Icon } from 'astro-icon';
import { Button, FormInput} from '@littlesticks/odyssey-theme-components';

const yesNoOptions = ['Yes', 'No'];

---

<form name="Lead Form" method="POST" action="/thank-you" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="Dua Lipa" required/>
  <FormInput type="email" label="Email" name="Email" placeholder="dua@letsrock.com" required/>
  <FormInput type="tel" label="Phone Number" name="Phone Number" placeholder="Enter phone number" required/>
  <FormInput type="date" label="Event Date" name="Event Date" required/>
  <Button customIcon>Submit
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
