---
import { SkipLink } from '@littlesticks/odyssey-theme-components';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
		<!-- Manychat -->
		<script src="//widget.manychat.com/104695789355784.js" defer="defer"
		></script>
		<script src="https://mccdn.me/assets/js/widget.js" defer="defer"></script>
	</head>
	<body>
		<SkipLink />
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
		<div id="tawk_6489f00994cf5d49dc5db31e"></div>
		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
			var Tawk_API = Tawk_API || {},
				Tawk_LoadStart = new Date();
			Tawk_API.embedded = 'tawk_6489f00994cf5d49dc5db31e';
			(function () {
				var s1 = document.createElement('script'),
					s0 = document.getElementsByTagName('script')[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/6489f00994cf5d49dc5db31e/1heamd4bn';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
		</script>
		<!--End of Tawk.to Script-->
	</body>
</html>
